@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&subset=korean');

.title{
    font-size: 50pt;
    font-family: 'Black Han Sans', sans-serif;
    letter-spacing: 5pt;
    text-align: center;
}

#winnerImg{
    width : 1000px; 
    /* 큰 디스플레이 화면에서는 어떻게 나타날까?? 
    width를 더 키워야 하나? 아니면 가로세로비 유지한 채 자동조절 가능해야 하나? */
    height: auto; 
    margin: 50px auto;
    
}

#win{
    display: block;
    width: 800px;
    height: 600px;
    margin: 50px auto;
    padding: 0px;
    border-style: solid;
    border-color: darkgray;
    border-width: medium;
    /* rgb로 색깔 수동 선택 가능 */
}

table{
    width : 600px;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
    text-align: center;
}